<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Libraray</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['book']">Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about-us']">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['logout']">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['add-list']">Add List</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>

<!-- <table class="table" style="width: 50%">
  <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Page No</th>
      <th scope="col">Picture</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bk of allBooks | async">
      <th scope="row">{{ bk.id }}</th>
      <td>{{ bk.name }}</td>
      <td>{{ bk.author }}</td>
      <td>{{ bk.pageno }}</td>
      <td>
        <img style="width: 100px; height: 100px" src="{{ bk.picture }}" />
      </td>
      <td>
        <button type="button" class="btn btn-primary">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-success">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="container" style="width: 25%">
  <form (ngSubmit)="onFormSubmit()">
    <h4 style="text-align: center">Add New Book In List</h4>
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input
        type="title"
        class="form-control"
        id="exampleInputTitle"
        aria-describedby="titleHelp"
        placeholder="Enter Title"
        #title
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input
        type="name"
        class="form-control"
        id="exampleInputName"
        placeholder="Enter Name"
        #name
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Author</label>
      <input
        type="name"
        class="form-control"
        id="exampleInputAuthor"
        placeholder="Enter Author"
        #author
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Page No</label>
      <input
        type="name"
        class="form-control"
        id="exampleInputPageNo"
        placeholder="Enter PageNo"
        #pageno
      />
    </div>
    <br />
    <div class="form-group" style="text-align: center; padding-bottom: 5px">
      <button class="btn btn-primary">Add Book</button>
    </div>
  </form>
</div>-->
