<p>parent-color works!</p>
<p appChangecolor>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ea
  consectetur magni unde, autem expedita error libero vero repudiandae alias nam
  iure possimus voluptatem obcaecati non recusandae reprehenderit impedit
  labore!
</p>
<div>
  change color :
  <input type="radio" name="rd" (click)="colorChanged('orange')" />Orange
  <input type="radio" name="rd" (click)="colorChanged('blue')" />Blue
  <input type="radio" name="rd" (click)="colorChanged('green')" />Green
</div>
