<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            class="form-control"
            #username
            formControlName="username"
          />
          <span
            class="help-block"
            *ngIf="
              !signUpForm.get('username').valid &&
              signUpForm.get('username').touched
            "
            >Enter Username</span
          >
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            #email
            formControlName="email"
          />
          <span
            *ngIf="
              !signUpForm.get('email').valid && signUpForm.get('email').touched
            "
            >Enter email</span
          >
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              [value]="gender"
              #gender
              formControlName="gender"
            />{{ gender }}
          </label>
        </div>
        <span
          *ngIf="
            !signUpForm.get('gender').valid && signUpForm.get('gender').touched
          "
          >Enter email</span
        >
        <div class="form-group" formArrayName="hobbies">
          <div class="row">
            <div class="col">
              <button
                class="btn btn-warning"
                type="button"
                (click)="onAddHobby()"
              >
                Add Hobbies
              </button>
            </div>
            <div
              *ngFor="
                let hobbyControl of signUpForm.get('hobbies')['controls'];
                let i = index
              "
            >
              <input
                class="form-control"
                type="text"
                [formControlName]="i"
                #hobbies
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!signUpForm.valid"
          >
            Submit
          </button>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="setDefault()">
            Set
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div *ngIf="submitted">
  <hr />
  <h4>Your data</h4>
  <p>User Name : {{ username.value }}</p>
  <p>Email : {{ email.value }}</p>
  <p>Gender : {{ gender.value | json }}</p>
  <p>Hobbies : {{ hobbies.value | json }}</p>
</div> -->
