<h1>assignment</h1>
<form #form="ngForm" (ngSubmit)="onSubmitForm(form)">
  Email :
  <input type="email" name="email" ngModel email #email="ngModel" required />
  <span *ngIf="!email.valid && email.touched">Enter Email</span>
  <br /><br />

  Subscription :
  <select
    name="select"
    name="subscription"
    ngModel
    #subscription="ngModel"
    [ngModel]="'pro'"
    required
  >
    <option value="basic">Basic</option>
    <option value="advance">Advance</option>
    <option value="pro">Pro</option>
  </select>
  <span *ngIf="!subscription.valid && subscription.touched"
    >Enter Subscription</span
  >
  <br /><br />
  Password :
  <input type="text" name="password" ngModel #password="ngModel" required />
  <span *ngIf="!password.valid && password.touched">Enter Password</span>
  <br /><br />
  <button type="submit" [disabled]="!form.valid">Submit</button>
  <button type="button" (click)="setAllValue()">set</button>
</form>
<hr />
<div *ngIf="formSubmitted">
  <h4>Your data</h4>
  <p>email : {{ email.value }}</p>
  <p>subscription : {{ subscription.value }}</p>
  <p>password : {{ password.value }}</p>
</div>
