<router-outlet></router-outlet>
<div class="container" style="width: 25%">
  <form (ngSubmit)="onFormSubmit()">
    <h4 style="text-align: center">Add New Book In List</h4>
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input
        type="title"
        class="form-control"
        id="exampleInputTitle"
        aria-describedby="titleHelp"
        placeholder="Enter Title"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input
        type="name"
        class="form-control"
        id="exampleInputName"
        placeholder="Enter Name"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Author</label>
      <input
        type="name"
        class="form-control"
        id="exampleInputAuthor"
        placeholder="Enter Author"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Page No</label>
      <input
        type="name"
        class="form-control"
        id="exampleInputPageNo"
        placeholder="Enter PageNo"
      />
    </div>
    <br />
    <div class="form-group" style="text-align: center; padding-bottom: 5px">
      <button class="btn btn-primary">Add Book</button>
    </div>
  </form>
</div>
